<table border="1">
    <tr align="center">
        <td>    <b>Strategy</b> </td><td colspan="2">    Trades </td>
        <td colspan="5">    SS_EQUITY </td>             <td colspan="3">    SS_CURR_FUT_PAIRS </td>
        <td colspan="5">    SS_CURR_OPT </td>           <td colspan="5">    SS_NIFTY_FUTOPT </td>
        <td colspan="3">    SS_REV_CURR_PAIRS </td>     <td colspan="3">    SS_REV_CURR_BTC </td>
        <td>    ADMIN </td>                             <td>    RES </td>
    </tr>
    <tr>
        <td>    <b>Options</b> </td>    
        <td><A href="/insertKiteTrades/">Trades</A></td>    <td><A href="/getMultiChartImage/">MultiChart</A></td>
        <td><A href="/SS_EQUITY/BUY/newSingleTrade">B-o</A></td><td><A href="/SS_EQUITY/SELL/newSingleTrade/">S-o</A></td>
        <td><A href="/SS_EQUITY/PF/">P</A></td><td><A href="/SS_EQUITY/BAJFINANCE/getChartImage/">Ch</A></td>
        <td><A href="#">R1</A></td>
        <td><A href="/SS_CURR_FUT_PAIRS/newCrossTrade/">B-o</A></td><td><A href="/SS_CURR_FUT_PAIRS/PF/">P</A></td>
        <td><A href="/SS_CURR_FUT_PAIRS/EURINR/getChartImage/">Ch</A></td>
        <td><A href="/SS_CURR_OPT/BUY/newSingleTrade">B-o</A></td><td><A href="/SS_CURR_OPT/SELL/newSingleTrade/">S-o</A></td>
        <td><A href="/SS_CURR_OPT/PF/">P</A></td><td><A href="/SS_CURR_OPT/USDINR/getChartImage/">Ch</A></td>
        <td><A href="#">R1</A></td>
        <td><A href="/SS_NIFTY_FUTOPT/BUY/newSingleTrade">B-o</A></td><td><A href="/SS_NIFTY_FUTOPT/SELL/newSingleTrade/">S-o</A></td>
        <td><A href="/SS_NIFTY_FUTOPT/PF/">P</A></td><td><A href="/SS_NIFTY_FUTOPT/NIFTY/getChartImage/">Ch</A></td><td><A href="#">R1</A></td>
        <td><A href="/SS_REV_CURR_PAIRS/newCrossTrade/">B-t</A></td><td><A href="/SS_REV_CURR_PAIRS/PF/">P</A></td>
        <td><A href="/SS_REV_CURR_PAIRS/NOKUSD/getChartImage/">Ch</A></td>
        <td><A href="/SS_REV_CURR_BTC/newCrossTrade/">B-t</A></td><td><A href="/SS_REV_CURR_BTC/PF/">P</A></td>
        <td><A href="/SS_REV_CURR_BTC/BTC/getChartImage/">Ch</A></td>
        <td><A href="/admin/">admin</A>
    </tr>
</table>
<br><hr><br>
{% block content %}
{% endblock %}

